.p {
    font-size: 42px;
    text-align: center;
}

#headercontainer{
    border-bottom: 1px solid black;
    width: 900px;
    margin: 0 auto;
}

.butinp{
    margin-left:20em;
}

.header{
    width: 100%;
    height: 15em;
    background-color: transparent;}
    .headerTitle{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 5em;
        
    }

body{
    background-image: url("img/landscape.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
}

.padding{
    padding-left:8em;
    padding-right:8em;
}

.a1{
    border-width: 0.4em;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    padding: 2px;
    height: 21em;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.404);
}

.a2{
    padding: 10px;
}

.row{
    padding: 1em;
}

h1{
    font-size: 2em;
}